<header class="main-header">
  <div class="menu-container">
    
    <a (click)="irAlInicio()" style="cursor: pointer;" class="logo">
  <img src="logo-negro-largo.svg" alt="Logo" class="logo-img logo-light">
  <img src="logo-blanco-largo.svg" alt="Logo" class="logo-img logo-dark">
</a>
    <!-- Hamburguesa para Móviles -->
    <input type="checkbox" id="menu-toggle" class="menu-checkbox">
    <label for="menu-toggle" class="menu-icono-btn">
      <img class="menu-icono" src="src/assets/images/menu.svg" alt="Menu">
    </label>

    <!-- Bloque Central: Navegación Principal Conectada -->
    <nav class="navbar">
      <ul>
        <li>
          <a (click)="irAlInicio()" style="cursor: pointer;" class="nav-link">inicio</a>
        </li>
        <li>
          <a [routerLink]="['/contactanos']" class="nav-link">contactanos</a>
        </li>
         @if (!authService.isAutenticado()) {
          <li>
            <a [routerLink]="['/info']" class="nav-link">info</a>
          </li>
        }
      </ul>
    </nav>

    <!-- Bloque Derecho: Acciones (Modo Oscuro + Menú Usuario) -->
    <div class="header-actions">
      
      <!-- Interruptor de Cambio de Color -->
      <label class="switch-modo">
        <input type="checkbox" (change)="cambiarModo()" id="dark-mode-toggle">
        <span class="switch-slider"></span>
        <span class="switch-label-text">Modo Oscuro</span>
      </label>

      <!-- Profile Sidebar Component -->
      @if (authService.isAutenticado()) {
        <app-profile-sidebar></app-profile-sidebar>
      }

    </div>

  </div>
</header>
