@import '../../../styles/modules-modals.css';
@import '../../../styles/modules-forms.css';
@import '../../../styles/modulos-general.css';

.foto-perfil-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 1rem auto;
  display: block;
}