@import '../../styles/modulos-general.css';

:host {
  display: block;
  width: 100%;
}

.gestion-usuarios-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px; 
}

app-lista-usuarios {
  display: block;
  width: 100%;
}

.spacer-bottom {
  height: 80px;
}