.pagina {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  width: 100%;
  min-height: 100vh;
  background-image: url("/fondo-blanco.svg");
  background-color: white;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: black;
  transition: background-image 0s ease, background-color 0s ease;
}

.pagina.modo-oscuro {
  background-image: url("/fondo-negro.svg");
  background-color: #232323;
  color: white;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}