<div class="home-container">
  <div class="home-content">
    <div class="dashboard-layout">
      <!-- COLUMNA IZQUIERDA: BOTONES -->
      <div class="buttons-grid">
        @switch(rolUsuario()) {
          @case('Docente') {
            <app-docente />
          }
          @case('Tecnico') {
            <app-tecnico />
          }
          @case('Gerente') {
            <app-gerente />
          }
          @default {
            <p>Rol no reconocido</p>
          }
        }
      </div>

      <!-- COLUMNA DERECHA: CALENDARIO -->
      <div class="dashboard-calendar">
        <div class="calendar-header">
          <h3 class="calendar-title">{{ textoMesAnio() }}</h3>
          <div>
            <button class="btn-cal-nav" (click)="mesAnterior()">←</button>
            <button class="btn-cal-nav" (click)="mesSiguiente()">→</button>
          </div>
        </div>

        <div class="calendar-grid">
          <div class="day-name">Dom</div>
          <div class="day-name">Lun</div>
          <div class="day-name">Mar</div>
          <div class="day-name">Mié</div>
          <div class="day-name">Jue</div>
          <div class="day-name">Vie</div>
          <div class="day-name">Sab</div>

          @for (celda of matrizDias(); track $index) {
            @if (celda.numero !== null) {
              <button 
                class="day-number"
                [class.today]="celda.esHoy"
                (click)="seleccionarDia(celda.numero!)"
              >
                {{ celda.numero }}
              </button>
            } @else {
              <div class="day-number empty"></div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>