<main class="auth-section">
  <div class="auth-card">
    
    <!-- imagen superior -->
    <div class="brand-badge">
      <img src="logoSIH.png" alt="Escudo Institucional" class="badge-img">
    </div>

    <!-- Título -->
    <h1 class="auth-title">Iniciar sesion</h1>

    <!-- Formulario enlazado -->
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      

      <!-- Documento -->
      <div class="form-group">
        <label for="documento" class="form-label">Documento</label>
        <input 
          type="text" 
          id="documento" 
          formControlName="documento" 
          class="form-input" 
          placeholder="Documento"
          [class.input-error]="loginForm.get('documento')?.invalid && loginForm.get('documento')?.touched"
        >
        <!-- Mensaje de Validación -->
        @if (loginForm.get('documento')?.invalid && loginForm.get('documento')?.touched) {
          <small class="error-msg">El documento es obligatorio que sea numerico (mínimo 10 caracteres).</small>
        }
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input 
          #passwordInput
          type="password" 
          id="password" 
          formControlName="password" 
          class="form-input" 
          placeholder="Contraseña"
          [class.input-error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        >
        <!-- Mensaje de Validación  -->
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <small class="error-msg">La contraseña es obligatoria (mínimo 6 caracteres).</small>
        }

        <!-- Checkbox -->
        <label class="show-password-label">
          <input 
            type="checkbox" 
            class="form-checkbox" 
            #togglePass 
            (change)="passwordInput.type = togglePass.checked ? 'text' : 'password'"
          >
          <span class="custom-checkbox"></span>
          <span class="checkbox-text-secondary">Mostrar contraseña</span>
        </label>
      </div>

      <!-- Botón Ingresar -->
      <button type="submit" class="btn-submit">Ingresar</button>
      
    </form>

    <!-- Enlaces Inferiores -->
    <div class="auth-footer-links">
      <a [routerLink]="['/recuperar-contrasena']" class="footer-link">¿Olvidaste tu contraseña?</a>
      <a [routerLink]="['/activar-usuario']" class="footer-link">Activar usuario</a>
    </div>
    
  </div>
</main>